In [2]:
#1. Biodata
nama = str(input('Nama: '))
kelas = str(input('Kelas: '))
NIM = int(input('NIM: '))
tmpt_lhr = str(input('Tempat lahir: '))
print(f'BIODATANYA {nama}, {kelas}, {NIM}, {tmpt_lhr}')

Nama: Rustiani
Kelas: TI22C
NIM: 20220040003
Tempat lahir: Sukabumi
BIODATANYA Rustiani, TI22C, 20220040003, Sukabumi

In [3]:
#2.a0
a = "UNIVERSITAS NUSA PUTRA SUKABUMI"
a = a[12:22]
c = a.split()
d = list(c)
d.reverse()
for i in d:
  print(i.lower(),end=' ')
print(' ')
#2.b
a = "UNIVERSITAS NUSA PUTRA SUKABUMI"
a = a[1:31]
b = list(a)
b.remove('U')
for i in b:
  print(i,end=' ')
print(' ')

#2.c
a = "UNIVERSITAS NUSA PUTRA SUKABUMI"
b = a.split()
c = list(b)
c.reverse()
for a in c:
  print(a,end=' ')
print(' ')

#2.d
a = "UNIVERSITAS NUSA PUTRA SUKABUMI"
b = a.split()
c = list(b)
for i in c:
  print(i[0], end=' ')
print(' ')

#2.e
a = "UNIVERSITAS NUSA PUTRA SUKABUMI"
b = a.split()
c = b[0]
d = b[1]
e = b[2]
f = b[3]
print(c[8:11], f'{d[2:4]}{e[0:2]}',f[4:8])

putra nusa
N I V E R S I T A S   N S A   P U T R A   S U K A B U M I
SUKABUMI PUTRA NUSA UNIVERSITAS
U N P S
TAS SAPU BUMI